:root {
    --color-1: #ffffff77;
    --color-2: #252525;
    --color-3: #271908;
    --color-4: #D4A476;
    --color-5: #E3C3B6;
    --color-6: #E8D9D6;
    --color-7: #FFFFFF;
    --color-8: #f5f5f5;

}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/font/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../storage/font/Poppins/Poppins-SemiBold.ttf);
}