:root {
    --color-1: #4F4F4F;
    --color-2: #252525;
    --color-3: rgba(37, 37, 37, 0.80);
    --color-4: #FFFFFF;
    --color-5: #D9D9D9;
    --color-6: #F0C3D2;

}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/font/Avenir/Avenir-Heavy.ttf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/font/Avenir/Avenir-Roman.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins/Poppins-Regular.ttf);
}