@import url(../css/page-5variables.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    
}
.main__title {
    display: flex;
    padding-bottom: 69px;
    padding-top: 64px; 
}
.main__title h1{
    width: 531px;
    /* background: yellow; */
    font-size: clamp(44px, 8vw, 88px); 
    font-family: "Avenir-Heavy";
    color: var(--color-2); 
    margin-left: 300px;
}
.section__bottomCards {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
}
.bottom__card__1 {
    /* background: blue; */
    width: 400px;
}
.bottom__card__1 h2{
    font-size: clamp(18px, 3vw, 32px);
    font-family: "Avenir-Heavy";
    color: var(--color-1);
}
.bottom__card__1 p{
    font-size: clamp(14px, 2vw, 24px);
    font-family: "Avenir-Roman";
    color: var(--color-4);
    margin-bottom: 24px;
}
.bottom__card__1 img {

}
.bottom__card__2 {
    /* background: blue; */
    width: 400px;
}
.bottom__card__2 h2{
    font-size: clamp(18px, 3vw, 32px);
    font-family: "Avenir-Heavy";
    color: var(--color-1);
}
.bottom__card__2 p{
    font-size: clamp(14px, 2vw, 24px);
    font-family: "Avenir-Roman";
    color: var(--color-4);
    margin-bottom: 24px;
}
.bottom__card__2 img {

}
.bottom__card__3 {
    /* background: blue; */
    width: 400px;
}
.bottom__card__3 h2{
    font-size: clamp(18px, 3vw, 32px);
    font-family: "Avenir-Heavy";
    color: var(--color-1);
}
.bottom__card__3 p{
    font-size: clamp(14px, 2vw, 24px);
    font-family: "Avenir-Roman";
    color: var(--color-4);
    margin-bottom: 24px;
}
.bottom__card__3 img {

}
