:root {
    --color-1: #252525;
    --color-1: #f5f5f5;
    --color-1: #252525b8;
    --color-1: #25252558;
    --color-1: #FFFFFF;

}

@font-face {
    font-family: 'Roboto';
    src: url(../storage/font/example.ttf);
}


