<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
    <link rel="stylesheet" href="../css/page-3style.css">
</head>
<body>
    <section class="container">
        <div class="title__text">
            <h1>Just that simple</h1>
        </div>
        <div class="parraf__text">
            <h2>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Faucibus in libero risus 
                semper habitant arcu eget.</h2>
            <a href="#">Get started</a>
        </div>
    </section>
    <section>
        <div class="image__container">
            <img src = "../views/storage/imgPage-3/principal-image.png" alt="principal-image" >
        </div>
    </section>
</body>
</html>