<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 10</title>
    <link rel="stylesheet" href="../css/page-10style.css">
</head>
<body>
    <main>
        <section class="main__text">
            <h1>
                <span class="text__color-1">Design.</span>
                <span class="text__color-2">Create.</span>
                <span class="text__color-3">Inspire.</span>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <a href="#">Explore</a>
        </section>
        <section class="container__images">
            <img src="../views/storage/imgPage-10/image_1.png" alt="image1">
            <img src="../views/storage/imgPage-10/image_2.png" alt="image2">
            <img src="../views/storage/imgPage-10/image_3.png"alt="image3">
            <img src="../views/storage/imgPage-10/image_4.png" alt="image4">
            <img src="../views/storage/imgPage-10/image_5.png"alt="image5">
            <img src="../views/storage/imgPage-10/image_6.png" alt="image6">
            <img src="../views/storage/imgPage-10/image_7.png" alt="image7">
            <img src="../views/storage/imgPage-10/image_8.png" alt="image8">
            <img src="../views/storage/imgPage-10/image_9.png" alt="image9">
            <img src="../views/storage/imgPage-10/image_10.png" alt="image10">
            <img src="../views/storage/imgPage-10/image_11.png" alt="image11">
            <img src="../views/storage/imgPage-10/image_12.png" alt="image12">
            <img src="../views/storage/imgPage-10/image_13.png" alt="image13">
            <img src="../views/storage/imgPage-10/image_14.png" alt="image14">
            <img src="../views/storage/imgPage-10/image_15.png" alt="image15">
            <img src="../views/storage/imgPage-10/image_16.png" alt="image16">
        </section>
    </main>
    
</body>
</html>