<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 5</title>
    <link rel="stylesheet" href="../css/page-5style.css">
</head>
<body>
    <main>
        <div class="main__title">
            <h1>Projects and practice</h1>
        </div>
        <section class="section__bottomCards">
            <div class="bottom__card__1">
                <h2>01</h2>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Faucibus 
                    in libero risus semper habitant arcu 
                    eget. Et integer facilisi eget.</p>
                    <img src = "../views/storage/imgPage-5/image-1.png" alt="imagen1" >
            </div>
            <div class="bottom__card__2">
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Faucibus 
                    in libero risus semper habitant arcu 
                    eget. Et integer facilisi eget.</p>
                    <img src = "../views/storage/imgPage-5/image-2.png" alt="imagen2" >
            </div>
            <div class="bottom__card__3"> 
                <h2>03</h2>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Faucibus 
                    in libero risus semper habitant arcu 
                    eget. Et integer facilisi eget.</p>
                    <img src = "../views/storage/imgPage-5/image-3.png" alt="imagen3" >
            </div>
        </section>
        
    </main>
    
</body>
</html>