<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 8</title>
    <link rel="stylesheet" href="..//css/page-8style.css">
</head>
<body>
    <main>
        <section class="main__container">
            <img src="../views/storage/imgPage-8/principal_image.png" alt="principal_image">
            <div class="main__container--text">
                <h1>Take your designs to the next level</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <a href="#">Explore</a>
            </div>
        </section>
    </main>
    
</body>
</html>