<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 7</title>
    <link rel="stylesheet" href="../css/page-7style.css">
</head>
<body>
    <header>
        <h1>Design is the way how you express the feelings</h1>
    </header>
    <main>
        <section class="design__section">
            <div class="design__item">
                <h2>01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <img src="../views/storage/imgPage-7/image_1.png" alt="Design Image 1">
                <div class="design__info">
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                </div>
            </div>
            <div class="design__item">
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <img src="../views/storage/imgPage-7/image_2.png" alt="Design Image 2">
                <div class="design__info">
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                </div>
            </div>
            <div class="design__item">
                <h2>03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <img src="../views/storage/imgPage-7/image_3.png" alt="Design Image 3">
                <div class="design__info">
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                </div>
            </div>
            <div class="design__item">
                <h2>04</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <img src="../views/storage/imgPage-7/image_4.png" alt="Design Image 4">
                <div class="design__info">
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
