<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page-26style.css">
    <title>Page 26</title>
</head>
<body>
    <main>
        <section class="section__containerTopLeft">
            <div class = "div__containerTopleft">
                <h1>Wake up your 
                taste buds with this 
                <span>juicy bite</span> </h1>
                <div class="imagenesrow_1">
                    <img src = "../views/storage/imgpage-26/Ellipse 12.png" alt="imagen 1" >
                    <img src = "../views/storage/imgpage-26/Ellipse 14.png" alt="imagen 2" >
                    <img src = "../views/storage/imgpage-26/Ellipse 11.png" alt="imagen 3" >
                    <img src = "../views/storage/imgpage-26/Ellipse 16.png" alt="imagen 4" >
                    <img src = "../views/storage/imgpage-26/Ellipse 15.png" alt="imagen 5" >
                    <img src = "../views/storage/imgpage-26/Ellipse 10.png" alt="imagen 6" >
                    <img src = "../views/storage/imgpage-26/Ellipse 13.png" alt="imagen 7" >
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Faucibus in libero risus.</p>
                <a href="#">Explore the menu</a> 
            </div>
        </section>
        <section class="section__principalImage">
            <div class = "div__principalImage">
                <img src ="../views/storage/imgpage-26/hamburguesa.png" >
            
            </div>
        </section>
        <section class="section__bottomArea">
            <div class="div_bottomArea">
                <div class="div__bottomCard">
                    <span>From farm to table</span>
                </div>
                <div class="div__bottomCard">
                    <span>100% grass-fed beef</span>
                </div>
                <div class="div__bottomCard">
                    <span>100% organic & natural</span>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>