<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 13</title>
    <link rel="stylesheet" href="/css/page-13style.css">
</head>
<body>
    <main>
        <section class="section__principalImages">
            <div class="image_left">
                <img src = "../views/storage/imgPage-13/Image bottom.png" >
            </div>
            <div class="image_right">
                <img src = "../views/storage/imgPage-13/Image top.png" >
            </div>
        </section>
        <section class="main__text">
            <div class="main__text-container">
                <h1>Create <br>
                    your <br>
                    design</h1>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Faucibus in libero risus semper 
                    habitant arcu eget. </p>
                <a href="#">Explore</a>
            </div>
        </section>
        <section class="main__photos">
            <div>
                <img src = "../views/storage/imgPage-13/Gradient bg.png" class="imagen3" >
                <img src = "../views/storage/imgPage-13/star.png" class="imagen4" >
                <img src = "../views/storage/imgPage-13/Star1.png" class="imagen5" >
                <img src = "../views/storage/imgPage-13/Party.png" class="imagen6" >
                <img src = "../views/storage/imgPage-13/Explosion.png" class="imagen7" >
            </div>
        </section>
        <section class="top__text">
            <div class="container__TopText">
                <h1>01</h1>
                <h2>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Faucibus in libero risus.</h2>
            </div>
            <div class="container__BottomText">
                <h1>02</h1>
                <h2>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Faucibus in libero risus.</h2>
            </div>
        </section>
    </main> 
</body>
</html>