<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 18</title>
    <link rel="stylesheet" href="/css/page-18style.css">
</head>
<body>
    <main>
        <section class="container__topArea">
            <div class="container__topAreaLeft">
                <img src="/views/storage/imgpage-18/waves.png" alt="">
                <img src="/views/storage/imgpage-18/logo.png" alt="">
            </div>
            <div class="container__topAreaMiddle">
                <h1>Your ultimate 
                    fashion outfits</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                <a href="#">Explore</a>
            </div>
            <div class="container__topAreaRight">
                <img src="/views/storage/imgpage-18/logo.png" alt="">
                <img src="/views/storage/imgpage-18/waves.png" alt="">
            </div>
        </section>
        <section class="container__bottomArea">
            <div class="container__leftArea1">
                <p>Exclusive gifts. 
                    Insider access. 
                    Special events.</p>
                <img src="/views/storage/imgpage-18/line.png" alt="">
                <img src="/views/storage/imgpage-18/img_left1.png" alt="">
            </div>
            <div class="container__leftArea2">
                <img src="/views/storage/imgpage-18/img_leftTop.png" alt="">
                <img src="/views/storage/imgpage-18/img_leftBottom.png" alt="">
            </div>
            <div class="container__middleArea">
                <img src="/views/storage/imgpage-18/img_middle.png" alt="">
            </div>
            <div class="container__rightArea2">
                <img src="/views/storage/imgpage-18/img_rightTop.png" alt="">
                <img src="/views/storage/imgpage-18/img_rightBottom.png" alt="">
            </div>
            <div class="container__rightArea1">
                <img src="/views/storage/imgpage-18/img_right1.png" alt="">
                <p>Beauty <br>
                    Fashion
                    Culture</p>
                <img src="/views/storage/imgpage-18/line.png" class="lineRight">
            </div>
            
        </section>
    </main>
    
</body>
</html>