<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 24</title>
    <link rel="stylesheet" href="../css/page-24style.css">
</head>
<body>
    <main>
        <section class="container__right">
            <div class="div__topTexts">
                <h1>Listen to <br>your <span>heart</span></h1>
            <h1>Dance with <br>
                the <span>rhythm</span></h1></h1>
            <img src="../views/storage/imgpage-24/divider.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer 
                facilisi eget. Lorem ipsum dolor.</p>
            <a href="#">Get started</a>
            </div>
            <div class="div_leftBottomCards">
                <div class="div__bottomCards">
                    <img src="../views/storage/imgpage-24/Musicnote.png" alt="">
                    <h3>168</h3>
                    <p>Lorem ipsum 
                        Lorem ipsum 
                        dolor amet</p>
                </div>
                <div class="div__bottomCards">
                    <img src="../views/storage/imgpage-24/Musicnote.png" alt="">
                    <h3>425K</h3>
                    <p>Lorem ipsum 
                        Lorem ipsum 
                        dolor amet</p>
                </div>
                <div class="div__bottomCards">
                    <img src="../views/storage/imgpage-24/Musicnote.png" alt="">
                    <h3>4.9</h3>
                    <p>Lorem ipsum 
                        Lorem ipsum 
                        dolor amet</p>
                </div>
            </div>
        </section>
        <section class="section_rightimage">
            <div class="div_rightImage">
                <img src="../views/storage/imgpage-24/guitarrist.png" class="guitarrist">
                <img src="../views/storage/imgpage-24/AsteriskTop.png" class="AsteriskTop">
                <img src="../views/storage/imgpage-24/containerTop.png" class="containerTop">
                <img src="../views/storage/imgpage-24/Star.png" class="Star">
            </div>
        </section>
    </main>
    
</body>
</html>